    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Spartan',sans-serif;
    }

    body {
        width: 100%;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 80px;
        background: #b0f5f8;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        
    }
    #nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }
    #nav li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.3s ease; 
    }

    #nav li a:hover {
        color: #088178;
    }
    #close {
        display: none;
    }
    #mobile {
        display: none;
        align-items: center;
    }
    #hero {
        background-image: url(images/hero4.png);
        width: 100%;
        min-height: 90vh;
        background-size: cover;
        background-position: top 25% right 0;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #hero h3 {
        padding-bottom: 15px;
    }

    #hero h1 {
        color: #088178;
        font-size: 46px;
    }
    #hero h2 {
        color: #000000;
        font-size: 46px;
    }

    #hero button {
        background-color: rgb(174, 207, 235);
        color: #088178;
        width: fit-content;
        border-radius: 15px;
        margin: 50px;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }

    #feature {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 50px 0;
    }
    #feature .fe-box:hover {
        box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    }
    #feature .fe-box img{
        width: 100%;
        margin-bottom: 10px;
    }
    .caption{
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: #088178;
        background-color: #fddde4;
        font-size: 15px ;
    }
    #feature .fe-box:nth-child(2) h6 {
        background-color: #d4c7e4;
    
    }
    #feature .fe-box:nth-child(3) h6 {
        background-color: #d1e8f2;
    
    }

    #feature .fe-box:nth-child(4) h6 {
        background-color: #cdd4f8;
    
    }

    #feature .fe-box:nth-child(5) h6 {
        background-color: #f6dbf6;
    
    }

    #feature .fe-box:nth-child(6) h6 {
        background-color: #fff2e5;
    
    }

    #product1 {
        text-align: center;
        padding:70px;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

    #product1 .pro:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    #product1 .pro img {
        width: 100%;
        border-radius: 20px;   
    }

    #product1 .pro .des {
        text-align: start;
        padding: 10px 0;
    }

    #product1 .pro .des span {
        color: #606063;
        font-size: 12px;
    }

    #product1 .pro .des h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }

    #product1 .pro .des i {
        font-size: 12px;
        color: rgb(243, 181, 25);
    }

    #product1 .pro .des h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

    #product1 .pro .cart {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(images/banner/b2.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 40vh;
    }

    #banner h4 {
        color: #fff;
        font-size: 16px;
    }

    #banner h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;
    }

    #banner h2 span {
        color: #ef3636;
    }

    #banner button:hover {
        background-color: #088178;
        color: #fff;
    }

    #sm-banner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 70px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        background-image: url(images/banner/b17.jpg);
        background-size: cover;
        background-position: center;
        min-width: 850px;
        height: 50vh;
        padding: 30px;
    }

    #sm-banner h4{
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    #sm-banner h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    #sm-banner span  {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    #sm-banner .banner-box:hover button{
        background-color: #088178;
        border: 1px solid #088178;
    }

    #sm-banner .banner-box:nth-child(2) {
        background-image: url(images/banner/b10.jpg);
    }

    #banner3 .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        background-image: url(images/banner/b7.jpg);
        background-size: cover;
        background-position: center;
        min-width: 30%;
        height: 30vh;
        padding: 30px;
        margin-bottom: 20px;
    }
    .white{
        background-color: transparent;
        color:white ;
        width: 100px;
        min-height:30px;
        border: 1px solid white;
    }

    #banner3 .banner-box:nth-child(2) {
        background-image: url(images/banner/b4.jpg);
    }

    #banner3 .banner-box:nth-child(3) {
        background-image: url(images/banner/b18.jpg);
    }

    #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 80px;   
    }

    #banner3 h2 {
        color: #fff;
        font-weight: 900;
        font-size: 22px;
    }

    #banner3 h3 {
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    footer p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    footer a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin: 0 0 10px 0;
    }

    footer .follow {
        margin-top: 20px;
    }

    footer .follow i{
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }


    footer .follow i:hover,
    footer a:hover {
        color: #088178;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
    }

    #page-header {
        background-image: url(images/banner/b1.jpg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }

    #page-header h2 {
        color: #fff;
        font-size: 40px;
    }

    #about-head {
        display: flex;
        align-items: center;
    }

    #about-head img {
        padding: 70px;
        width: 50%;
        height: auto;
    }

    #about-head div {
        padding-left: 40px;
    }


    #about-app {
        text-align: center;
    }

    #about-app .video {
        width: 70%;
        height: 100%;
        margin: 30px auto 0 auto;
    } 

    #about-app .video video {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    #contact-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #contact-details .details {
        width: 40%;
    }

    #contact-details .details span,
    #form-details form p {
        font-size: 12px;
    }

    #contact-details .details h2,
    #form-details form h2 {
        font-size: 26px;
        line-height: 35px;
        padding: 20px 0;
    }

    #contact-details .details h3 {
        font-size: 16px;
        padding-bottom: 15px;
    }

    #contact-details .details li {
        list-style: none;
        display: flex;
        padding: 10px 0;
        align-items: center;
    }

    #contact-details .details li i {
        font-size: 14px;
        padding-right: 22px;
    }

    #contact-details .details li p {
        margin: 0;
        font-size: 14px;
    }
    #form-details {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding: 80px;
        border: 1px solid #e1e1e1;
    }

    #form-details form {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #form-details form input,
    #form-details form textarea {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }

    #form-details form button {
        background-color: #088178;
        color: #fff;
        width: 100px;
        min-height: 40px;
    }

    #cart {
        overflow-x: auto;
    }

    #cart table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
    }

    #cart table img {
        width: 70px;
    }

    #cart table td:nth-child(1) {
        width: 100px;
        text-align: center;
    }

    #cart table td:nth-child(2) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(3) {
        width: 250px;
        text-align: center;
    }

    #cart table td:nth-child(4),
    #cart table td:nth-child(5),
    #cart table td:nth-child(6) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(5) input{
        width: 70px;
        padding: 10px 5px 10px 15px;
    }

    #cart table thead {
        border: 1px solid #e2e9e1;
        border-left: none;
        border-right: none;
    }

    #cart table thead td {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        padding: 18px 0;
    }

    #cart table tbody tr td {
        padding-top: 15px;
    }

    #cart table tbody td {
        font-size: 13px;
    }

    #cart-add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #cart-add .coupon {
        width: 50%;
        margin-bottom: 30px;
    }

    #cart-add .subtotal h3 {
        padding-bottom: 15px;
    }
    
    #cart-add .subtotal button {
        background-color: #088178;
        color: #fff;
        padding: 12px 20px;
    }

    #cart-add .subtotal {
        width: 50%;
        margin-bottom: 30px;
        border: 1px solid #e2e9e1;
        padding: 30px;
    }

    #cart-add .subtotal table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    #cart-add .subtotal table td {
        width: 50%;
        border: 1px solid #e2e9e1;
        padding: 10px;
        font-size: 13px;
    }   
 /* Default styles are for large screens (already defined in your CSS) */

/* For Extra Large Screens (Desktops & Laptops) */
@media (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: auto;
    }
}

/* For Tablets (768px - 1024px) */
@media (max-width: 1024px) {
    #header {
        padding: 20px 40px;
    }

    #hero {
        padding: 0 40px;
        min-height: 60vh;
        background-position: top 20% right 0;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        width: 40%;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        width: 45%;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        min-width: 45%;
        height: 25vh;
    }

    #form-details {
        padding: 40px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 40vh;
    }
}

/* For Mobile Screens (0px - 767px) */
@media (max-width: 767px) {
    #header {
        padding: 15px 20px;
    }

    #nav {
        display: none;
    }

    #mobile {
        display: flex;
        cursor: pointer;
    }

    #hero {
        padding: 0 20px;
        min-height: 50vh;
        background-position: center;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero h2 {
        font-size: 26px;
    }

    #hero button {
        padding: 10px 30px;
        font-size: 14px;
    }

    #feature {
        flex-direction: column;
        align-items: center;
    }

    #feature .fe-box {
        width: 90%;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 30vh;
        padding: 10px;
    }

    #banner h2 {
        font-size: 20px;
    }

    #sm-banner {
        padding-left: 20px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 35vh;
    }

    #banner3 {
        padding: 0 20px;
        flex-direction: column;
    }

    #banner3 .banner-box {
        min-width: 100%;
        height: 20vh;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details,
    #form-details form {
        width: 100%;
    }

    #form-details {
        padding: 20px;
    }

    #cart-add {
        flex-direction: column;
    }

    #cart-add .coupon {
        width: 100%;
    }
}
